$white: #ffffff;
$lightGray: #f9f9f9;
$gray: #f7f7f7;
$black: #111111;
$shadow: rgba(60,64,67,.22);
$shadowLight: rgba(60,64,67,.075);
$lightPrimary: #f8e4f5;
$primary: #ab147e;
$darkPrimary: #553a85;
$lightSecondary: #d3ffee;
$secondary: #1dece2;
$darkSecondary: #268088;
