.c-cta {
  text-align: center;
  margin-top: 1.25em;
  & ~ .c-cta {
    margin-top: 0;
  }
  &__button {
    display: inline-block;
    padding: 0.3em 1em;
    margin: .4em auto .6em;
    color: $white;
    background-color: $primary;
    box-shadow: 0 1px 12px 0 $shadowLight, 0 1px 18px 1px $shadow;
    border-radius: 1em;
    letter-spacing: .035em;
    &:hover {
      background-color: $darkPrimary;
      box-shadow: 0 4px 16px 4px $shadow, 0 2px 23px 4px $shadowLight;
      color: $white;
    }
  }
}
.c-bloc .c-cta__button {
  margin: .5em auto .75em;
}